# Data Exploration

In this notebook describe your data exploration steps.

## Install dependencies

In [5]:
pip install pandas SQLAlchemy

Requirement already satisfied: pandas in /Users/arupmac/anaconda3/envs/dEng/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: SQLAlchemy in /Users/arupmac/anaconda3/envs/dEng/lib/python3.9/site-packages (1.4.32)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/arupmac/anaconda3/envs/dEng/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/arupmac/anaconda3/envs/dEng/lib/python3.9/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.18.5 in /Users/arupmac/anaconda3/envs/dEng/lib/python3.9/site-packages (from pandas) (1.24.3)
Requirement already satisfied: greenlet!=0.4.17 in /Users/arupmac/anaconda3/envs/dEng/lib/python3.9/site-packages (from SQLAlchemy) (1.1.1)
Requirement already satisfied: six>=1.5 in /Users/arupmac/anaconda3/envs/dEng/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

## Create connection to DB

In [8]:
from sqlalchemy import create_engine
import pandas as pd

# create connection
engine = create_engine('sqlite:///../data.sqlite', echo=False)

## Load data

In [9]:
# load mobi data from db
df_mobi = pd.read_sql_table('mobi', 'sqlite:///data.sqlite')

# load kba data from db
df_kba = pd.read_sql_table('kba', 'sqlite:///data.sqlite')

### Look at the first rows

In [12]:
df_mobi.head()
df_kba.head()

               State  EV Sales
0  Baden-Württemberg    354052
1             Bayern    527220
2             Berlin     68186
3        Brandenburg     45290
4             Bremen     15417

### Data exploration
Print some basic information about the data. Your data exploration would continue here.

In [13]:
df_mobi.info()
df_kba.info()
#df['Status'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   State                     12 non-null     object
 1   number_of_charging_point  12 non-null     int64
 2   connected_load            12 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 416.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   State     16 non-null     object
 1   EV Sales  16 non-null     int64
dtypes: int64(1), object(1)
memory usage: 384.0+ bytes